<!-- Slider starts -->
<style type="text/css">

#carousel-example-generic{
    background:#65605c url("/img/footer.png") repeat;
}
#carousel-example-generic img {
    margin-left: 30%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#carousel-example-generic .carousel-control span
{
    font-size: 400%;
    vertical-align: middle;
    margin-top: 125px;    
}

#carousel-example-generic .carousel-caption
{
    left: 45%;
    top: 0;
    width: 400px; 
}

#carousel-example-generic .carousel-caption h3
{
    text-align: left;
}

#carousel-example-generic .carousel-caption p
{
    text-align: justify;
}

</style>
<div class="tp-banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            {% for key, book in books %}
            <li data-target="#carousel-example-generic" data-slide-to="{{key}}" class="{% if key == 0 %}active{% endif %}"></li>
            {% endfor %}
        </ol>

        <div class="carousel-inner">
            {% for key, book in books %}
            <div class="item {% if key == 0 %}active{% endif %}">
                <img src="data:image/jpeg;base64,{{ book.book_image }}" alt="Red dot" />
                <div class="carousel-caption">
                    <h3>{{book.book_title}}</h3>

                    <p>{{book.book_description_short}}</p>

                    <a href="/book/{{book.book_isbn}}" class="btn btn-default pull-right">Ver detalles</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>
</div>
<!--/ Slider ends -->
