<h5 class="title">Mis compras</h5>
<!-- title -->

<div class="widget">

    <div class="widget-content">
        <div class="padd">

            <!-- Table Page -->
            <div class="page-tables">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped tcart">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Precio</th>
                                <th>Mostrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, purchase in purchases %}

                            <tr>
                                <td>{{ purchase.purchase_date_formatted }}</td>
                                <td>
                                    <span class="label label-{{purchase.label_status}}">{{ purchase.purchase_status}}</span>
                                </td>
                                <td>{{ purchase.purchase_price_total}} &euro;</td>
                                <td>
                                    <button data-show="{{ purchase.purchase_id}}" class="btn btn-xs btn-primary">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr data-table="{{ purchase.purchase_id}}" class="hide" >
                                <td colspan="4">
                                    <table class="table table-striped tcart">
                                        {% for key, book in purchase.books %}
                                        <tr>
                                            <td>
                                                <img style="height:60px" src="data:image/png;base64,{{ book.book_image_base64 }}" alt="Red dot" />
                                            </td>
                                            <td>{{ book.book_title }}</td>


                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
