<div class="paging">

    {% if attributes.page > 1 %}
        <a href="?page={{attributes.page-1}}|{{attributes.pageitems}}">Anterior</a>
    {% endif %}

    {% for page_index in 1..attributes.pages %}

        {% if page_index == attributes.page %}
        <span class='current'>{{page_index}}</span>
        {% else %}
        <a href='?page={{page_index}}|{{attributes.pageitems}}'>{{page_index}}</a>   
        {% endif %}

    {% endfor %}

    {% if attributes.page < attributes.pages %}
        <a href="?page={{attributes.page+1}}|{{attributes.pageitems}}">Siguiente</a>
    {% endif %}
    
</div>