<module name="header"></module>


<!-- Items -->

<div class="items">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div class="col-md-3 col-sm-3 hidden-xs">

                <module name="books-nav"></module>

            </div>

            <!-- Main content -->
            <div class="col-md-9 col-sm-9">

                <module name="books-list" section="search"></module>

            </div>

        </div>
    </div>
</div>

<!-- Owl Carousel Starts -->
<div class="container">
    <module name="books-carousel"></module>
</div>
<!-- Owl Carousel Ends -->


<module name="footer"></module>
