<module name="header"></module>
<!-- Page content starts -->

<div class="content contact-two">
    <div class="container">
        <div class="row">

            <!-- Page content starts -->

            <div class="content error-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <!-- Big 404 text -->
                            <div class="big-text">404</div>
                            
                        </div>
                        <div class="col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1">
                            <h2>Oops
                                <span class="color">!!!</span>
                            </h2>
                            <h4>P&aacute;gina no encontrada.</h4>
                            <hr />

                        </div>

                    </div>
                </div>
            </div>

            <!-- Page content ends -->

        </div>
    </div>
</div>
<module name="footer"></module>
<!-- Page content ends -->
