<module name="header"></module>

<module name="home-slider"></module>
<!-- Items -->
<div class="items">
    <div class="container">
        <div class="row">

	        <div class="col-md-12">
			    <h3 class="title">Cat&aacute;logo</h3>
			</div>
			
            <module name="books-list" section="home"></module>

        </div>
    </div>
</div>

<!-- Owl Carousel Starts -->
<div class="container">
    <module name="books-carousel"></module>
</div>
<!-- Owl Carousel Ends -->


<module name="footer"></module>
