<module name="header"></module>
<!-- Page content starts -->
<div class="content">
    <div class="container">
        <div class="row">


            <!-- Main bar -->
            <div class="col-md-9 col-sm-9">
                <h4 class="title">Reg&iacute;strate en nuestra web.</h4>
                <module name="sign-up"></module>
                <hr/>
                <h5>¿Tienes cuenta?</h5>
                <a href="/sign-in">Accede</a>
            </div>
        </div>
    </div>
</div>

<!-- Page content ends -->
<module name="footer"></module>
