<module name="header"></module>
<!-- Page content starts -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Some content -->
                <h3 class="title">Accede a nuestra tienda
                    <span class="color">!!!</span>
                </h3>
                <h4>BookSelling</h4>
                <p>Lo inteligente es pagar menos!!!</p>
                <h5>Disfruta de todas las ventajas de usuario registrado</h5>
                <div class="lists">
                    <ul>
                        <li>Accede a contenido exclusivo</li>
                        <li>Vende libros que ya te has leído</li>
                        <li>Compra libros de otros usuarios</li>
                    </ul>
                </div>

            </div>


            <!-- Login form -->
            <div class="col-md-6">
                <div class="formy well">
                    <h4 class="title">Accede a Tu Cuenta</h4>
                    <module name="sign-in"></module>
                    <hr/>
                    <h5>Cuenta nueva</h5>
                    ¿No tienes cuenta? <a href="/sign-up">Reg&iacute;strate</a>
                </div>
            </div>

        </div>
    </div>
</div>
<module name="footer"></module>
