<!-- Title -->
<h4 class="pull-left">Top 10</h4>


<!-- Sorting -->
<div class="form-group pull-right">
    <select class="form-control">
        <option>Ordenar por</option>
        <option>Titulo (A-Z)</option>
        <option>Titulo (Z-A)</option>
        <option>Precio (Asc)</option>
        <option>Precio (Desc)</option>

    </select>
</div>

<div class="clearfix"></div>

<div class="row">
    {% for key, book in books %}
    <!-- Item #1 -->
    <div class="col-md-12 col-sm-6">
        <!-- Each item should be enclosed in "item" class -->
        <div class="item">
            <!-- Item image -->
            <div class="item-image">
                <a href="/book/{{book.book_isbn}}">
                    <img style="height:100px" src="data:image/jpeg;base64,{{ book.book_image_base64 }}" alt="Red dot" />
                </a>

            </div>
            <!-- Item details -->
            <div class="item-details">
                <!-- Name -->
                <!-- Use the span tag with the class "ico" and icon link (hot, sale, deal, new) -->
                <h5><a href="/book/{{book.book_isbn}}">{{ book.book_title }}</a>
                    <span class="ico"></span>
                </h5>
                <div class="clearfix"></div>
                <!-- Para. Note more than 2 lines. -->
                <p>{{ book.book_author }}</p>
                <hr />
                <!-- Price -->
                <div class="item-price pull-left">{{ book.book_price }}</div>
                <!-- Add to cart -->
                {% if user %}
                <div class="button pull-right"><a href="#">Comprar</a>
                </div>
                {% else %}
                <div class="button pull-right"><a href="/book/{{book.book_isbn}}">Ver detalles</a>
                </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {% endfor %}


    <div class="col-md-9 col-sm-9">
        <!-- Pagination -->
        <div class="paging">
            <span class='current'>1</span>
            <a href='#'>2</a>
            <span class="dots">&hellip;</span>
            <a href='#'>6</a>
            <a href="#">Siguiente</a>
        </div>
    </div>

</div>
