<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    
    <title>BookSelling - Administrador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">


    
    <link href="./modules/admin/resources/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/jquery-ui.css">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/fullcalendar.css">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/prettyPhoto.css">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/rateit.css">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/bootstrap-datetimepicker.min.css">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/jquery.cleditor.css">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/jquery.dataTables.css">
    
    <link rel="stylesheet" href="./modules/admin/resources/css/jquery.onoff.css">
    
    <link href="./modules/admin/resources/css/style.css" rel="stylesheet">
    
    <link href="./modules/admin/resources/css/widgets.css" rel="stylesheet">

    <script src="./dst/book.selling.js" type="text/javascript"></script>
    
    <link rel="shortcut icon" href="img/favicon/favicon.png">

    {% for module, include in view.includes %}

	<script ref="{{ module|lower }}" type="text/javascript">$.use( "module-{{ module|lower }}" ,{{ include }})</script>

	{% endfor %}
	
    <script>
    /* Navigation */

    $(document).ready(function() {

        $(window).resize(function() {
            if ($(window).width() >= 765) {
                $(".sidebar #nav").slideDown(350);
            } else {
                $(".sidebar #nav").slideUp(350);
            }
        });

        $(".has_sub > a").click(function(e) {
            e.preventDefault();
            var menu_li = $(this).parent("li");
            var menu_ul = $(this).next("ul");

            if (menu_li.hasClass("open")) {
                menu_ul.slideUp(350);
                menu_li.removeClass("open")
            } else {
                $("#nav > li > ul").slideUp(350);
                $("#nav > li").removeClass("open");
                menu_ul.slideDown(350);
                menu_li.addClass("open");
            }
        });
    });
    </script>
		
	</head>
	
	<body>

		
		
	</body>

</html>-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Title here -->
        <title>BookSelling</title>
        <!-- Description, Keywords and Author -->
        <meta name="description" content="Your description">
        <meta name="keywords" content="Your,Keywords">
        <meta name="author" content="ResponsiveWebInc">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="/img/favicon/favicon.png">

        <link href="/dst/book.selling.css" rel="stylesheet">
        <link href="/dst/book.selling.admin.css" rel="stylesheet">
        <script src="/dst/book.selling.js" type="text/javascript"></script>

        {% for module, include in view.includes %}
        <script ref="{{ module|lower }}" type="text/javascript">$.use( "module-{{ module|lower }}" ,{{ include }})</script>
        {% endfor %}
    </head>
    
    <body>

        {{ view.html }}
        
    </body> 
</html>
